<div class="NewPngWin PopupWin" id="NewPngWin0">
    <div class="Title">
        <button id="BtnCloseSettingWin0">X</button>
    </div>
    <div class="Setting">
        <div>
            <label>width</label>
            <input type="text" id="NewPngWinWidth0"/>
        </div>
        <div>
            <label>height</label>
            <input type="text" id="NewPngWinHeight0"/>
        </div>
        <div>
            <label>frame counts</label>
            <input type="text" id="NewPngWinCount0"/>
        </div>
    </div>
    <div>
        <button class="BtnOK" id="DialogBtnOK0">OK</button>
        <button class="BtnCancel" id="DialogBtnCancel0">Cancel</button>
    </div>
</div>