<div class="SettingWin PopupWin" id="SettingWin0">
    <div class="Title">
        <button id="BtnCloseSetting0">X</button>
    </div>
    <div class="Tab">
        <div class="Bar">
            <div class="Button" id="TabButton0" data-idx="0">App</div>
            <div class="Button" id="TabButton1" data-idx="1">GENERAL</div>
            <div class="Button" id="TabButton2" data-idx="2">SHORTCUTS</div>
        </div>
        <div class="Content">
            <div class="Page" id="TabPage0">
                <div class="SettingStringItem">
                    <label>PSD output path:</label>
                    <input type="text" id="SettingTmpPath0"/>
                    <button id="SettingTmpPathBtn0">...</button>
                </div>
                <div class="SettingStringItem">
                    <label>Draw application path:</label>
                    <input type="text" id="SettingDrawApp1"/>
                    <button id="SettingDrawApp1Btn0">...</button>
                </div>
            </div>
            <div class="Page" id="TabPage1">TabPage1</div>
            <div class="Page" id="TabPage2">TabPage2</div>
        </div>
    </div>
</div>