<div class="SettingWin PopupWin" id="SettingWin0">
    <div class="Title">
        <button id="BtnCloseSetting0">X</button>
    </div>
    <div class="Tab">
        <div class="Bar">
            <div class="Button" id="TabButton0" data-idx="0">App</div>
            <div class="Button" id="TabButton1" data-idx="1">GENERAL</div>
            <div class="Button" id="TabButton2" data-idx="2">SHORTCUTS</div>
        </div>
        <div class="Content">
            <div class="Page" id="TabPage0">
                <input type="text"/>
                <button>...</button>
            </div>
            <div class="Page" id="TabPage1">TabPage1</div>
            <div class="Page" id="TabPage2">TabPage2</div>
        </div>
    </div>
</div>