
    <div class="MenuBtn" id="MenuBtnFile">File</div>
    <div class="MenuBtn" id="MenuBtnComps">Comps</div>
    <div class="MenuBtn" id="MenuBtnExport">Export</div>
    <div class="FileMenu" id="FileMenu0">
        <div class="Top">
            <div class="Left">
                <div class="Item" id="FileMenuNew">New project</div>
                <div class="Item" id="FileMenuOpen">Open project</div>
                <div class="Item" id="FileMenuSave">Save project</div>
                <div class="Item" id="FileMenuSaveAs">Save as...</div>
            </div>
            <div class="Right">
                <div class="Top">
                    Recent File
                </div>
                <div class="Bottom">
                    File List
                </div>
            </div>
        </div>
        <div class="Bottom">
            <div class="FileMenuBottom" id="FileMenuOption">option</div>
            <div class="FileMenuBottom" id="FileMenuExit">exit</div>
        </div>
    </div>
