.TrackMenu {
  width: 120px;
  height: 200px;
  left: 50%;
  top: 50%;
  border: @Theme-Border;
  background: @Blender-Color-Light;
  opacity: .8;
  border-radius: 5px;
  box-shadow: -@SHOW_WIDTH @SHADOW_Y @SHADOW_FEA #111, 0 0 0 #111, 0 @SHOW_WIDTH 10px #111,@SHOW_WIDTH 10px @SHADOW_FEA #111;
  position: absolute;
  pointer-events: auto;
  cursor: default;
  .MenuItem {
    cursor: pointer;
    color: @Theme-Font-Color-Light;
    font-size: 16px;
    &:hover {
      color: @Theme-Font-Color-Dark;
      background: @Theme-Color-Light;
    }
    height: 20px;
  }
  .MenuSeparator {
    border-top: @Theme-Border-Menu-Separator;
    height: 2px;
  }
}