div(class="Track",id = idx)
    div(class ="Panel")
        div(class="Label").name
    div(class="Clip")
        div(class="Bar")
        each img in imgs
            div(class="Frame")
                img(src = img)
