body {
    background: #333333;
}

.TitleBar {
    width: 100%;
    height: 35px;
    border-bottom: 3px solid rgb(250, 240, 20);
    background: #222222;
}

.Content {
    width: 100%;
    height: 100%;
    background: #444444;
}

.Viewport {
    height: 300px;
    background: #555555;
}

.Timeline {
    width: 100%;
    height: 300px;
    background: #5b2e66;
}

#newTrack {
    width: 80px;
    height: 30px;
}

.Track {
    width: 100%;
    height: 70px;
    background: #e4f1d3;
}

.Track .Label {
}

.Track .Panel {
    position: absolute;
    width: 200px;
    height: 70px;
}

.Track .Clip {
    left: 300px;
    position: relative;
    height: 65px;
    background: #00ff56;
    font-size: 0;
}

.Track .Clip .Bar {
    width: 100%;
    height: 20px;
    background: #535353;
}

.Track .Clip .Frame {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ffffff;
    -webkit-user-select: none;
}

.Frame img {
    width: 100%;
}

.VSplitter {
    height: 5px;
    background: #aaa;
}

.HSplitter {
    width: 5px;
    background: #aaa;

}