body {
    background: #333333;
}

.title-bar {
    width: 100%;
    height: 35px;
    border-bottom: 3px solid rgb(250, 240, 20);
    background: #222222;
}

.content {
    width: 100%;
    height: 100%;
    background: #444444;
}

.viewport {
    height: 300px;
    background: #555555;

}

.timeline {
    width: 100%;
    height: 300px;
    background: #5b2e66;
}
#newTrack{
    width:80px;
    height: 30px;
}
.track {
    width: 100%;
    height: 70px;
    background: #e4f1d3;
}

.vsplitbar {
    width: 5px;
    background: #aaa;
}

.hsplitbar {
    height: 6px;
    background: #aaa;

}