body {
    background: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select: none;
    margin: 0;
}

.TitleBar {
    width: 100%;
    height: 35px;
    border-bottom: 3px solid #FAF014;
    background: #222222;
}

/*title button*/
.TitleBarButton {
    float: right;
    -webkit-app-region: no-drag;
}

.TitleBar .TitleMenu {
    position: absolute;
    /*display: inline-block;*/
    left: 200px;
    /*float: left;*/
    top: 10px;
}

.TitleBar .MenuBtn {
    display: inline-block;
    font-size: 18px;
    font-family: sans-serif;
    width: 80px;
    height: 25px;
    color: #ddd;
    background: #333;
    text-align: center;
    cursor: hand;
}

.Content {
    width: 100%;
    height: 100%;
    background: #444444;
}

.Viewport {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    height: 720px;
    background: #555;
}

.Comp {
    display: inline-block;
    position: relative;
    width: 1280px;
    height: 100%;
    /*background: #550108;*/
    -webkit-text-size-adjust: none;
}

.ToolShelf {
    display: inline-block;
    /*position: relative;*/
    width: 300px;
    height: 100%;
    background: #554c0d;
    -webkit-text-size-adjust: none;
}

.Timeline {
    width: 100%;
    background: #222;
}

.CursorFocus {
    display: inline-block;
    opacity: .3;
    top: 30px;
    width: 100%;
    height: 100%;
    position: relative;
    background: -webkit-gradient(linear, left top, right top, from(#fff), color-stop(0.2, rgba(0, 0, 0, 0)), color-stop(0.8, rgba(0, 0, 0, 0)), to(#fff));
}

#CursorMask {
    left: 200px;
    width: 2000px;
    height: 1000px;
    /*background: #92231a;*/
    /*opacity: 0.5;*/
    pointer-events: none;
    position: absolute;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Cursor {
    position: absolute;
    width: 40px;
    font-size: 0;
    height: 100%;
    pointer-events: none;
}

.CursorHint {
    display: inline-block;
    position: relative;
    top: 20px;
    width: 100%;
    height: 5px;
    background: #fdfd23;
}

#composition {
    /*width: 200px;*/
    position: relative;
    height: 193px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.HScrollBar {
    position: absolute;
    height: 16px;
    width: 1460px;
    background: #FF0000;
    overflow-x: scroll;
    overflow-y: hidden;
}

#trackWidth {
    height: 1px;
}

.VScrollBar {
    position: absolute;
    top: 30px;
    left: -15px;
    width: 15px;
    overflow-y: scroll;
}

.TrackTool {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 200px;
    /*top: -8px;*/
    background: #222222;
}

.TrackToolButton {
    width: 40px;
    height: 18px;
    top: 3px;
    border-radius: 8px;
    border: 2px solid #FAF014;
}

.TimestampBar {
    font-size: 0;
    display: inline-block;
    width: 100%;
    height: 30px;
    position: absolute;
    background: #2f2f2f;
}


.VSplitter:hover {
    background: #444;
}

.VSplitter {
    height: 8px;
    background: #141414;
}

.HSplitter {
    -webkit-text-size-adjust: none;
    display: inline-block;
    left: 300px;
    height: 100%;
    /*position: absolute;*/
    width: 8px;
    background: #141414;
}
