body {
    background: #333333;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select: none;
}

.TitleBar {
    width: 100%;
    height: 35px;
    border-bottom: 3px solid #FAF014;
    background: #222222;
}

/*title button*/
.TitleBarButton {
    float: right;
    -webkit-app-region: no-drag;
}

.Content {
    width: 100%;
    height: 100%;
    background: #444444;
}

.Viewport {
    height: 300px;
    background: #555555;
}

.Timeline {
    width: 100%;
    height: 300px;
    background: #666666;
}

#composition {
    /*width: 200px;*/
    height: 270px;
    position: relative;
    overflow-y: hidden;
    overflow-x: hidden;
}

.VScrollBar {
    position: absolute;
    left: 193px;
    width: 15px;
    /*height: 300px;*/
    background: #92231a;
    z-index: 999;
    overflow-y: scroll;
    /*pointer-events: none;*/

}

#trackHeight {
    height: 700px;
    /*pointer-events: none;*/
}

::-webkit-scrollbar {
    position: relative;
    width: 15px;
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

.TrackTool {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 200px;
    /*top: -8px;*/
    background: #222222;
}

.TrackToolButton {
    width: 70px;
    height: 18px;
    top: 3px;
    border-radius: 8px;
    border: 2px solid #FAF014;
}

.TimestampBar {
    display: inline-block;
    width: 100%;
    height: 30px;
    position: absolute;
    background: #92231a;
}

.Track {
    width: 100%;
    height: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 1px solid #111;
}


.Track .Label {
}

.Track .Panel {
    position: absolute;
    width: 200px;
    height: 70px;
}

.TrackArea {
    left: 200px;
    position: absolute;
    width: 100%;

    /*overflow-clip: ;*/
    overflow-x: hidden;
    overflow-y: hidden;
}

.Track .Clip {
    position: relative;
    height: 65px;
    background: #000000;
    font-size: 0;
}

.Track .Clip .Bar {
    width: 100%;
    height: 20px;
    background: #535353;
}

.Track .Clip .Frame {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ffffff;
}

.Frame img {
    width: 100%;
}

.VSplitter {
    height: 5px;
    background: #aaa;
}

.HSplitter {
    width: 5px;
    background: #aaa;

}

.BottomBar {
    width: 100%;
    height: 35px;
    background: #aaa;

}

