body {
    background: #111;
    overflow-x: hidden;
    overflow-y: hidden;
    -webkit-user-select: none;
    margin: 0;

}

.TitleBar {
    width: 100%;
    height: 35px;
    border-bottom: 3px solid #FAF014;
    background: #222222;
}

/*title button*/
.TitleBarButton {
    float: right;
    -webkit-app-region: no-drag;
}

.Content {
    width: 100%;
    height: 100%;
    background: #444444;
}

.Viewport {
    font-size: 0;
    letter-spacing: 0;
    word-spacing: 0;
    height: 720px;
    background: #555;
}

.Comp {
    display: inline-block;
    position: relative;
    width: 1280px;
    height: 100%;
    background: #550108;
    -webkit-text-size-adjust: none;
}

.ToolShelf {
    display: inline-block;
    /*position: relative;*/
    width: 300px;
    height: 100%;
    background: #554c0d;
    -webkit-text-size-adjust: none;
}

.Timeline {
    width: 100%;
    background: #222;
}

.Cursor {
    left: 240px;
    position: absolute;
    width: 40px;
    font-size: 0;
    height: 200px;
    pointer-events: none;
}

.CursorHint {
    display: inline-block;
    position: relative;
    top: 20px;
    width: 100%;
    height: 5px;
    background: #fdfd23;
}

.CursorMask {
    display: inline-block;
    opacity: .3;
    top: 30px;
    width: 100%;
    height: 200px;
    position: relative;
    background: #e6e6e6;
}

#composition {
    /*width: 200px;*/
    position: relative;
    height: 193px;
    overflow-y: hidden;
    overflow-x: hidden;
}

.HScrollBar {
    position: absolute;
    height: 16px;
    width: 1460px;
    background: #FF0000;
    overflow-x: scroll;
    overflow-y: hidden;
}

#trackWidth {
    height: 1px;
}

.VScrollBar {
    position: absolute;
    top: 30px;
    left: -15px;
    width: 15px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    position: relative;
    width: 15px;
    background-color: #cccccc;
}

::-webkit-scrollbar-thumb {
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

::-webkit-scrollbar-thumb:hover {
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

.TrackTool {
    display: inline-block;
    position: relative;
    height: 30px;
    width: 200px;
    /*top: -8px;*/
    background: #222222;
}

.TrackToolButton {
    width: 40px;
    height: 18px;
    top: 3px;
    border-radius: 8px;
    border: 2px solid #FAF014;
}

.TimestampBar {
    font-size: 0;
    display: inline-block;
    width: 100%;
    height: 30px;
    position: absolute;
    background: #92231a;
}
#CursorMask {
    left: 200px;
    width: 500px;
    height: 1000px;
    background: #92231a;
    opacity: 0.5;
    pointer-events: none;
    position: absolute;
    overflow-x: hidden;
}
.Track {
    width: 100%;
    height: 70px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-bottom: 1px solid #111;
}

.Track .Label {
}

.Track .Panel {
    position: absolute;
    width: 200px;
    height: 70px;
}

.TrackArea {
    left: 200px;
    position: absolute;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.Track .Clip {
    position: relative;
    height: 65px;
    background: #000000;
    font-size: 0;
}

.Track .Clip .Bar {
    width: 100%;
    height: 20px;
    background: #2f2f2f;
}

.Track .Clip .Frame {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #ffffff;
    position: absolute;
}

.Frame img {
    height: 40px;
    width: 40px;
}

.VSplitter {
    height: 8px;
    background: #141414;
}

.HSplitter {
    -webkit-text-size-adjust: none;
    display: inline-block;
    left: 300px;
    height: 100%;
    /*position: absolute;*/
    width: 8px;
    background: #141414;
}

.BottomBar {
    bottom: 0;
    position: absolute;
    width: 100%;
    height: 35px;
    background: #aaa;
}

